html, body, div{
    margin: 0px;
    padding: 0px;

    font-family: Ubuntu,Arial,Helvetica,sans-serif;
}
header{
    height: 900px;
}
div{
    display: block;
}
p {
    display: block;

}
.container-header{
    background-image: url("img/home.jpg");
    background-size: cover;
    height: auto;


}
.surcolor{
    background-color: yellow;
    color: white;
}
.top-header{
    display: flex;
    justify-content: center;
}
.bottom-header{
    display: flex;
    justify-content: center;

}
.col-xs-12.col-lg-6.header{
    position: relative;
    margin-top: 150px;
    color: white;
    line-height: 1.5;
    font-size: 1.85rem;
}
.col-xs-12.col-lg-6.bottom-header{
    position: relative;
    text-align: center;
    margin: 50px;
}
.bottom-header{
    position: relative;
    background-color: rgba(49, 137, 225, 0.6);
    background-repeat: no-repeat;
    height: 12.70rem;
    opacity: 0.81;
    overflow: hidden;

}
.sub-text-1{
    margin-top: 45px;
    text-align: center;
}
.services{
    display: flex;
    justify-content: center;
    height: 450px;
    margin: 50px;
    text-align: center;


}
.col-xs-12.col-lg-6.service{
    height: 500px;
    display: flex;
    justify-content: center;

}

.image{
    background-image: url("img/background-management.jpg");
    background-size: cover;
    text-align: center;
    background-position: 15% 0;
    padding: 2.4rem 1rem 4rem;
    display: flex;
    justify-content: space-around;
    color: #1e629f;
    font-size: 1.35rem;
    font-weight: 700;
}
.col-xs-12.col-lg-6.image-top{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 80%;

}
.col-xs-12.col-lg-6.image-top-2{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 80%;

}
.col-xs-12.col-lg-6.image-bottom{
    position: relative;
    display: flex;
    justify-content: center;
}
.sub-text-3-2{
    margin-top: 250px;

}
.chiffres{
    display: flex;
    justify-content: center;
    height: 500px;

}
.col-xs-12.col-lg-6.chiffre-top{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.col-xs-12.col-lg-6.chiffre{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}
.carre-1{
    display: flex;
    flex-direction: column;
    padding: 2.8rem;
    margin: 50px;
    -webkit-box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
}
.carre-2{
    display: flex;
    flex-direction: column;
    padding: 2.8rem;
    margin: 50px;
    -webkit-box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
}
.carre-3{
    display: flex;
    flex-direction: column;
    padding: 2.0rem;
    margin: 50px;
    -webkit-box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 35px 0px rgba(0,0,0,0.75);
}
.icon-1{
    width: 6rem;
}
.icon{
    width: 12rem;
}
.Values-title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1.1rem;
    text-align: center;
    color: #1e629f;
}
.title{
    margin: 10px 400px;
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    color: #1e629f;
}
.color-2000{
    color: #927eec;
    margin: 0;
    padding: 0;
    font-size: 4.0rem;
    font-weight: 400;
    line-height: 1;
}
.color-70{
    color: #4a7dd8;
    margin: 0;
    padding: 0;
    font-size: 4.0rem;
    font-weight: 400;
    line-height: 1;
}
.color-10{
    color: #6de8d7;
    margin: 0;
    padding: 0;
    font-size: 4.0rem;
    font-weight: 400;
    line-height: 1;
}
.title-color{
    color: #1e629f;
}

